<p class="project">

  <table class="table table-reflow listTable">
      <tbody>
          <tr>
            <th>Category</th>
              <td class='row'>{{category}}</td>
          </tr>
          <tr>
            <th>Name</th>
              <td class='row'>{{name}}</td>
              </tr>
          <tr>
            <th>Price</th>
              <td class='row'>{{price}}</td>
              </tr>
          <tr>
            <th>Url</th>
              <td class='row'>{{url}}</td>
              </tr>
      </tbody>
  </table>
</p>
