<iframe style="border: none" src="//html5-player.libsyn.com/embed/destination/id/349835/height/900/width/700/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/no-cache/true/render-playlist/yes/custom-color/c2590b/" height="900" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<div class="modal-footer">
  <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
  <p>&copy; 2016 Rick Coste Productions, Inc. </p>
</div>
