<div class="row">
  <div class="col-lg-4">
    <form class="addItemButton">
  <div class="form-group">
    <input type="text" class="title-font" name="item[name]" value="New Name" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[price]" value="$12.00" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[description]"  value="Hope this appears" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[category]" value="peripheral" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[url]" value="http" readonly>
  </div>
  <button class="text" type="submit">Add to List</button>
  </form>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <form class="addItemButton">
  <div class="form-group">
    <input type="text" class="title-font" name="item[name]" value="New Name" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[price]" value="$12.00" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[description]"  value="Hope this appears" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[category]" value="peripheral" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[url]" value="http" readonly>
  </div>
  <button class="text" type="submit">Add to List</button>
  </form>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <form class="addItemButton">
  <div class="form-group">
    <input type="text" class="title-font" name="item[name]" value="New Name" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[price]" value="$12.00" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[description]"  value="Hope this appears" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[category]" value="peripheral" readonly>
  </div>
  <div class="form-group">
    <input type="text" name="item[url]" value="http" readonly>
  </div>
  <button class="text" type="submit">Add to List</button>
  </form>
  </div><!-- /.col-lg-4 -->

  <button type="button" class="btn btn-danger btn-lg close" id="closeButton">Close</button>

</div><!-- /.row -->
