<div class="container-fluid peripheral-cont">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeButton">X</button>
  <div class="divTable">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell" id="stand-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="Mic Stand" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$18.00 +" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://www.guitarcenter.com/Microphone-Stands.gc" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Peripheral" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#stand-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
        <div class="divTableCell" id="filter-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="Pop Filter" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$9.99 +" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Peripheral" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://www.guitarcenter.com/Pop-Filters.gc" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#filter-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
        <div class="divTableCell" id="ipad-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="iPad Stand" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$29.99 +" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Peripheral" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://www.guitarcenter.com/search?Ns=r&Ntt=ipad+stand" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#ipad-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
        <div class="divTableCell" id="cables-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="Cables" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$5.00 +" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Peripherals" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://www.guitarcenter.com/Cables-Snakes.gc" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#cables-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- DivTable.com -->
  <!-- /.row -->
</div>

<!--  Mic Stands -->
<div class="modal fade" id="stand-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Mic Stands</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/mic_stand.jpg">
                  <img src="https://s3.amazonaws.com/podtools/mic_stand.jpg" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://www.guitarcenter.com/Microphone-Stands.gc">http://www.guitarcenter.com/Microphone-Stands.gc</a></p>
                </div>
              </div>
              <div class="vis pos-9 size-8 cont">
                <div class="cont">
                  <p class="para">
                    The kind of mic stand depends on the kind of show you are doing. If you are sitting at a desk you may only need a small tabletop stand. I used one of these for years and still do when I record the comments that close a show. Perhaps you prefer to stand up
                    as opposed to sitting? Some voice coaches will tell you that this enhances your vocal performance and allows your diaphragm to expand. It’s all personal preference and you can find almost any style stand for less than $20.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
                  <p>&copy; 2017 Rick Coste Productions, Inc. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Filter Modal -->
<div class="modal fade" id="filter-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Pop Filters</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/filter.jpg">
                  <img src="https://s3.amazonaws.com/podtools/filter.jpg" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://www.guitarcenter.com/Pop-Filters.gc">http://www.guitarcenter.com/Pop-Filters.gc</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>
                <br>
                <div class="vis pos-8 size-6 cont-4">
                </div>
              </div>
            </div>
            <div class="vis pos-9 size-8 cont">
              <div class="cont">
                <p class="para">
                  A pop screen (or pop filter) isn’t an essential purchase but you might wish you had one the first time you encounter a ‘plosive’ in your recording. What’s a ‘plosive’? It’s when a small explosion of air hits the mic, usually following a word with
                  a ‘p’ in it. You’ll also hear it referred to as popping “p’s”. You can buy a small foam filter that slips over your mic or a round screen that attaches to your mic stand. I prefer the screen as it forces you to keep some distance between
                  you and the mic.

                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
                <p>&copy; 2017 Rick Coste Productions, Inc. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  iPad Stand -->
<div class="modal fade" id="ipad-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">iPad Stand</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/ipad.jpg">
                  <img src="https://s3.amazonaws.com/podtools/ipad.jpg" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://www.guitarcenter.com/search?Ns=r&Ntt=ipad+stand">http://www.guitarcenter.com/search?Ns=r&Ntt=ipad+stand</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>
                <br>
                <div class="vis pos-8 size-6 cont-4">
                </div>
              </div>
            </div>
            <div class="vis pos-9 size-8 cont">
              <div class="cont">
                <p class="para">
                  If you do opt for to stand when you speak into a mic you might find that reading lines from an iPad is the way to go. It beats having to record and/or edit the sound of paper shuffling when you (or a voice artist) flips to the next page. Having
                  an attachment to hold your iPad at eye level while you read your lines is, in a word, “awesome”.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
                <p>&copy; 2017 Rick Coste Productions, Inc. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Cables -->
<div class="modal fade" id="cables-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Cables</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/mic_cable.jpg">
                  <img src="https://s3.amazonaws.com/podtools/mic_cable.jpg" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://www.guitarcenter.com/Cables-Snakes.gc">http://www.guitarcenter.com/Cables-Snakes.gc</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>

              </div>
              <br>
              <div class="vis pos-8 size-6 cont-4">
              </div>
            </div>
          </div>
          <div class="vis pos-9 size-8 cont">
            <div class="cont">
              <p class="para">
                Not much to say here. You need cords. Depending on your setup that might mean only buying a mic cord but you don’t want to sit down to record your inaugural episode only to find that you are missing something essential.


              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
              <p>&copy; 2017 Rick Coste Productions, Inc. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
