
<div class="container-fluid software-cont">
<div class="row">

  <div class="col-lg-4">
    <form class="addItemButton">
  <div class="form-group">
    <input type="text" class="title-font" name="item[name]" value="Hindenburg Journalist" readonly>
  </div>
  <div class="form-group">
    <input type="text" class="price-font" name="item[price]" value="$95.00" readonly>
  </div>
  <div class="form-group">
    <input type="hidden" class="url-font" name="item[url]" value="http://hindenburg.com" readonly>
  </div>
  <div class="form-group">
    <input type="hidden" name="item[category]" value="software" readonly>
  </div>
  <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#hindenburg-modal">More Information</button>
  <br>
  <button class="text" type="submit">Add to List</button>
  </form>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <form class="addItemButton">
  <div class="form-group">
    <input type="text" class="title-font" name="item[name]" value="Adobe" readonly>
  </div>
  <div class="form-group">
    <input type="text" class="price-font" name="item[price]" value="$239.88 annually" readonly>
  </div>
  <div class="form-group">
    <input type="hidden" name="item[category]" value="software" readonly>
  </div>
  <div class="form-group">
    <input type="hidden" class="url-font" name="item[url]" value="http://www.adobe.com/products/audition.html" readonly>
  </div>
  <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#adobe-modal">More Information</button>
  <br>
  <button class="text" type="submit">Add to List</button>
  </form>
</div><!-- /.col-lg-4 -->
<div class="col-lg-4">
  <form class="addItemButton">
<div class="form-group">
  <input type="text" class="title-font" name="item[name]" value="GarageBand" readonly>
</div>
<div class="form-group">
  <input type="text" class="price-font" name="item[price]" value="Free !" readonly>
</div>
<div class="form-group">
  <input type="hidden" name="item[category]" value="software" readonly>
</div>
<div class="form-group">
  <input type="hidden" class="url-font" name="item[url]" value="http://www.apple.com/mac/garageband/" readonly>
</div>
<button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#gb-modal">More Information</button>
<br>
<button class="text" type="submit">Add to List</button>
</form>
</div><!-- /.col-lg-4 -->


  <button type="button" class="btn btn-danger btn-lg close" id="closeButton">Close</button>

</div><!-- /.row -->

</div>

<!--  Hindenburg -->
<div class="modal fade" id="hindenburg-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Hindenburg Journalist</h4>
            </div>
            <div class="modal-body">
              <div class="pos section">
  <div class="vis pos-2 size cont">
  <div class="vis pos-3 size-2 colwrapper">
  <div class="vis pos-3 size-3 cont">
  <picture class="img-2">
  <source srcset="https://s3.amazonaws.com/podtools/hj.png">
  <img src="https://s3.amazonaws.com/podtools/hj.png" alt="" class="js img-logo">
  </picture>
  </div>
  <div class="vis pos-4 size-4 cont">
  <div class="cont"><p class="link-font"><a href="http://hindenburg.com">http://hindenburg.com</a></p></div>
  </div>
  <div class="vis pos-5 size-5 cont">
  <div class="vis pos-6 size-6 cont-2">
  <div class="cont"><p class="rick-font">Rick's Pick</p></div>
  </div>
  <div class="vis pos-7 size-7 cont-3">
  <picture class="img-4">
  <source srcset="https://s3.amazonaws.com/podtools/ok-512.png">
  <img src="https://s3.amazonaws.com/podtools/ok-512.png" alt="" class="js-2 img-checkmark">
  </picture>
  </div>
    <br>
  <div class="vis pos-8 size-6 cont-4">
  </div>
  </div>
  </div>
  <div class="vis pos-9 size-8 cont">
  <div class="cont"><p class="para">
    An incredibly powerful DAW (Digital Audio Workstation) for mixing, editing, and pretty much anything else you want to do.  As a podcasting solution it’s one of the best (if not the best for its intended purpose).  Record Skype calls, match voice profiles, or hook it up to your favorite plugin, Hindenburg Journalist will not disappoint.  It comes in two flavors, <span style="font-weight:bold">Basic</span> and <span style="font-weight:bold">Pro</span>.  For most users Basic will do the job.  At <span style="color:red">$95</span> it is a little pricey but it delivers and is much cheaper than other solutions (can you say ProTools).
  </p></div>
  </div>
  </div>
  </div>
            </div>
          </div>
        </div>
        </div>

        <!--  Adobe -->
        <div class="modal fade" id="adobe-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title">Adobe Audition</h4>
                    </div>
                    <div class="modal-body">
                      <div class="pos section">
          <div class="vis pos-2 size cont">
          <div class="vis pos-3 size-2 colwrapper">
          <div class="vis pos-3 size-3 cont">
          <picture class="img-2">
          <source srcset="https://s3.amazonaws.com/podtools/adobe.svg">
          <img src="https://s3.amazonaws.com/podtools/adobe.svg" alt="" class="js img-logo">
          </picture>
          </div>
          <div class="vis pos-4 size-4 cont">
          <div class="cont"><p class="link-font"><a href="http://www.adobe.com/products/audition.html">http://www.adobe.com/products/audition.html</a></p></div>
          </div>
          <div class="vis pos-5 size-5 cont">
          <div class="vis pos-6 size-6 cont-2">
          </div>
            <br>
          <div class="vis pos-8 size-6 cont-4">
          </div>
          </div>
          </div>
          <div class="vis pos-9 size-8 cont">
          <div class="cont"><p class="para">
            Adobe Audition is the company’s flagship audio production workstation for icing and editing.  I have not personally used it as I went straight from GarageBand to Hindenburg Journalist but quite a few podcasters and journalists swear by it.  It does come with a pretty steep price tag as Adobe switched to a cloud based subscription model for all of its software solutions.  It is currently set at <span style="color:red">$239.88</span> annually (if you opt to pay annually instead of monthly - a substantial savings from the monthly $29.99 price tag).

          </p></div>
          </div>
          </div>
          </div>
                    </div>
                  </div>
                </div>
                </div>

                <!--  Adobe -->
                <div class="modal fade" id="gb-modal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h4 class="modal-title">GarageBand</h4>
                            </div>
                            <div class="modal-body">
                              <div class="pos section">
                  <div class="vis pos-2 size cont">
                  <div class="vis pos-3 size-2 colwrapper">
                  <div class="vis pos-3 size-3 cont">
                  <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/garageband.png">
                  <img src="https://s3.amazonaws.com/podtools/garageband.png" alt="" class="js img-logo">
                  </picture>
                  </div>
                  <div class="vis pos-4 size-4 cont">
                  <div class="cont"><p class="link-font"><a href="http://www.apple.com/mac/garageband/">http://www.apple.com/mac/garageband/</a></p></div>
                  </div>
                  <div class="vis pos-5 size-5 cont">
                  <div class="vis pos-6 size-6 cont-2">
                  </div>
                    <br>
                  <div class="vis pos-8 size-6 cont-4">
                  </div>
                  </div>
                  </div>
                  <div class="vis pos-9 size-8 cont">
                  <div class="cont"><p class="para">
                    I’m a big fan of GarageBand as that is where I started.  There is not much that you can’t do with it when it comes to podcast production (and music for that matter).  A good portion of my science series <span style="font-style:italic"> Evolution Talk</span> was produced using GarageBand before I made the switch to Hindenburg.  I still go back to GarageBand to take advantage of some of the features (such as panning) which Hindenburg doesn’t support.  To sweeten the deal GarageBand is <span style="color:red">FREE</span>!  That’s if you’re a Mac user of course.  And while we are on the subject of free you can also edit your audio files using <a href="http://www.audacityteam.org/">Audacity</a> before mixing them with GarageBand.  Up until I purchased the <a href="https://www.izotope.com/en/products/repair-and-edit/rx.html">RX5 Audio Editor</a> from iZotope I used Audacity for all of my pre-mixing initial audio editing.

                  </p></div>
                  </div>
                  </div>
                  </div>
                            </div>
                          </div>
                        </div>
                        </div>
