<div class="container-fluid software-cont">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeButton">X</button>
  <div class="alert alert-success add-success">
  <strong>Success!</strong> You have added an item to your wishlist.
</div>
  <div class="divTable">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell" id="hj-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="Hindenburg Journalist" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$95.00" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://hindenburg.com" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Software" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#hindenburg-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>

        </div>
        <div class="divTableCell" id="gb-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="GarageBand" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="FREE" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Software" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://www.apple.com/mac/garageband/" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#gb-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
        <div class="divTableCell" id="aud-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="Audacity" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="FREE" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Software" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="http://www.audacityteam.org/" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#audacity-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
        <div class="divTableCell" id="iz-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="RX5" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$349.99" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Software" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="https://www.izotope.com/en/products/repair-and-edit/rx.html" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#rx5-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell" id="scriv-trans">
          <form class="addItemButton">
            <div class="form-group">
              <input type="text" class="title-font" name="item[name]" value="Scrivener" readonly>
            </div>
            <div class="form-group">
              <input type="text" class="price-font" name="item[price]" value="$45.00" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" name="item[category]" value="Software" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="url-font" name="item[url]" value="https://www.literatureandlatte.com/scrivener.php" readonly>
            </div>
            <button type="button" class="btn btn-link info-font" data-toggle="modal" data-target="#scriv-modal">More Information</button>
            <br>
            <button class="btn btn-success adder" type="submit"><span class="glyphicon glyphicon-plus"></span>Add to List</button>
          </form>
        </div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- DivTable.com -->
  <!-- /.row -->
</div>


<!--  Hindenburg -->
<div class="modal fade" id="hindenburg-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Hindenburg Journalist</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/hj.png">
                  <img src="https://s3.amazonaws.com/podtools/hj.png" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://hindenburg.com">http://hindenburg.com</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                  <div class="cont">
                    <p class="rick-font">Rick's Pick</p>
                  </div>
                </div>
                <div class="vis pos-7 size-7 cont-3">
                  <picture class="img-4">
                    <source srcset="https://s3.amazonaws.com/podtools/ok-512.png">
                    <img src="https://s3.amazonaws.com/podtools/ok-512.png" alt="" class="js-2 img-checkmark">
                  </picture>
                </div>
                <br>
                <div class="vis pos-8 size-6 cont-4">
                </div>
              </div>
            </div>
            <div class="vis pos-9 size-8 cont">
              <div class="cont">
                <p class="para">
                  An incredibly powerful DAW (Digital Audio Workstation) for mixing, editing, and pretty much anything else you want to do. As a podcasting solution it’s one of the best (if not the best for its intended purpose). Record Skype calls, match voice profiles,
                  or hook it up to your favorite plugin, Hindenburg Journalist will not disappoint. It comes in two flavors, <span style="font-weight:bold">Basic</span> and <span style="font-weight:bold">Pro</span>. For most users Basic
                  will do the job. At <span style="color:red">$95</span> it is a little pricey but it delivers and is much cheaper than other solutions (can you say ProTools).
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
                <p>&copy; 2017 Rick Coste Productions, Inc. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!--  GB -->
<div class="modal fade" id="gb-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">GarageBand</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/garageband.png">
                  <img src="https://s3.amazonaws.com/podtools/garageband.png" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://www.apple.com/mac/garageband/">http://www.apple.com/mac/garageband/</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>
                <br>
                <div class="vis pos-8 size-6 cont-4">
                </div>
              </div>
            </div>
            <div class="vis pos-9 size-8 cont">
              <div class="cont">
                <p class="para">
                  I’m a big fan of GarageBand as that is where I started. There is not much that you can’t do with it when it comes to podcast production (and music for that matter). A good portion of my science series <span style="font-style:italic"> Evolution Talk</span>                  was produced using GarageBand before I made the switch to Hindenburg. I still go back to GarageBand to take advantage of some of the features (such as panning) which Hindenburg doesn’t support. To sweeten the deal GarageBand is
                  <span style="color:red">FREE</span>! That’s if you’re a Mac user of course. And while we are on the subject of free you can also edit your audio files using <a href="http://www.audacityteam.org/">Audacity</a> before mixing them with
                  GarageBand. Up until I purchased the <a href="https://www.izotope.com/en/products/repair-and-edit/rx.html">RX5 Audio Editor</a> from iZotope I used Audacity for all of my pre-mixing initial audio editing.

                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
                <p>&copy; 2017 Rick Coste Productions, Inc. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  Audacity -->
<div class="modal fade" id="audacity-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Audacity</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/audacity-logo.png">
                  <img src="https://s3.amazonaws.com/podtools/audacity-logo.png" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="http://www.audacityteam.org/">http://www.audacityteam.org/</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>
                <br>
                <div class="vis pos-8 size-6 cont-4">
                </div>
              </div>
            </div>
            <div class="vis pos-9 size-8 cont">
              <div class="cont">
                <p class="para">
                  You’ll often hear the words “you get what you paid for" when describing something that’s <span style="color:red">FREE</span>. While that may often be the case it’s not when it comes to Audacity. Audacity performs almost all of the audio
                  duties that the major software packages accomplish, and it does all of this while also allowing for multiple track recording! I used Audacity for years to perform initial audio editing (cutting, deleting, pasting, reverb, low filter
                  passes, etc). I have to say that I wouldn’t hesitate to use it again. And did I say it was <span style="color:red">FREE</span>?

                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
                <p>&copy; 2017 Rick Coste Productions, Inc. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  RX5 -->
<div class="modal fade" id="rx5-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">RX5</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/izotopelogo.jpg">
                  <img src="https://s3.amazonaws.com/podtools/izotopelogo.jpg" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="https://www.izotope.com/en/products/repair-and-edit/rx.html">https://www.izotope.com/en/products/repair-and-edit/rx.html</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>
                <div class="cont">
                  <p class="rick-font">Rick's Pick</p>
                </div>
              </div>
              <div class="vis pos-7 size-7 cont-3">
                <picture class="img-4">
                  <source srcset="https://s3.amazonaws.com/podtools/ok-512.png">
                  <img src="https://s3.amazonaws.com/podtools/ok-512.png" alt="" class="js-2 img-checkmark">
                </picture>
              </div>
              <br>
              <div class="vis pos-8 size-6 cont-4">
              </div>
            </div>
          </div>
          <div class="vis pos-9 size-8 cont">
            <div class="cont">
              <p class="para">
                What can I say? I’m in love with RX5. It took me a while to save my pennies while I waited for iZotope to offer a discounted price, and when I first fired it up it was a game-changer. Not only did it not take long to get up to speed with what it can do
                (it has a number of presets) but I continue to be impressed by its power as an audio editing tool. Instead of tool think magic wand. It can remove even the most stubborn background noise that other solutions can’t seem to touch without
                significant sound degradation. It comes in Basic and Advanced. The Basic still comes at a steep <span style="color:red">$349.99</span> price tag while the Advanced costs <span style="color:red">$1199</span>. I sprung for
                the advanced during a special offer but the Basic has most everything you will need.

              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
              <p>&copy; 2017 Rick Coste Productions, Inc. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--  Scrivener -->
<div class="modal fade" id="scriv-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Scrivener</h4>
      </div>
      <div class="modal-body">
        <div class="pos section">
          <div class="vis pos-2 size cont">
            <div class="vis pos-3 size-2 colwrapper">
              <div class="vis pos-3 size-3 cont">
                <picture class="img-2">
                  <source srcset="https://s3.amazonaws.com/podtools/scrivener-logo.png">
                  <img src="https://s3.amazonaws.com/podtools/scrivener-logo.png" alt="" class="js img-logo">
                </picture>
              </div>
              <div class="vis pos-4 size-4 cont">
                <div class="cont">
                  <p class="link-font"><a target="_blank" href="https://www.literatureandlatte.com/scrivener.php">https://www.literatureandlatte.com/scrivener.php</a></p>
                </div>
              </div>
              <div class="vis pos-5 size-5 cont">
                <div class="vis pos-6 size-6 cont-2">
                </div>
                <div class="cont">
                  <p class="rick-font">Rick's Pick</p>
                </div>
              </div>
              <div class="vis pos-7 size-7 cont-3">
                <picture class="img-4">
                  <source srcset="https://s3.amazonaws.com/podtools/ok-512.png">
                  <img src="https://s3.amazonaws.com/podtools/ok-512.png" alt="" class="js-2 img-checkmark">
                </picture>
              </div>
              <br>
              <div class="vis pos-8 size-6 cont-4">
              </div>
            </div>
          </div>
          <div class="vis pos-9 size-8 cont">
            <div class="cont">
              <p class="para">
                I write. A lot. I have used many tools over the years to do so as well. You name it I’ve probably tried it. I began using Scrivener a few years ago when it was in beta. Even back then it was powerful. Today it is amazing, with an iOS version that links
                up to the standard desktop version. Scrivener allows you to capture research notes, images, links, and whatever else you may need to tackle a writing project. As an audio drama producer I write scripts and Scrivener even excels at that.
                it comes with templates and I’ve used the BBC radio script template for my last three audio drama projects. At <span style="color:red">$$45</span> it’s a steal.

              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
              <p>&copy; 2017 Rick Coste Productions, Inc. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
