$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap'; // GLOBAL STYLES
// Padding below the footer and lighter body text

body {
  color: #5a5a5a;
  padding-bottom: 40px;
}

h1 {
  font-size: 100px;
}

.subtitle {
  font-size: 75px;
}
// CUSTOMIZE THE NAVBAR
// Special class on .container surrounding .navbar, used for positioning it into place.

.navbar-wrapper {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
// Flip around the padding for proper display in narrow viewports

.navbar-wrapper > .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}
// CUSTOMIZE THE CAROUSEL
// Carousel base class
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
// Since positioning the image, we need to help out the caption

.carousel-caption {
  z-index: 10;
}
//Declare heights because of positioning of img element

.carousel .item {
  background-color: #777;
  height: 500px;
}

.carousel-inner > .item > img {
  height: 500px;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
}
//MARKETING CONTENT
// Center align the text within the three columns below the carousel

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.centered {
  background-color: #E0E0E0;
  margin: 0 auto;
  padding: 20px;
}
// Featurettes

.featurette-divider {
  margin: 80px 0;
// Space out the Bootstrap <hr> more
}
// Thin out the marketing headings

.featurette-heading {
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
// RESPONSIVE CSS
@media (min-width: 768px) {
  // Navbar positioning foo
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  // The navbar becomes detached from the top, so we round the corners
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  // Bump up size of carousel content
  .carousel-caption p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
// Product Templates

input {
  background-color: transparent;
  border: 0 solid;
  color: #000;
  height: 20px;
  width: 160px;
}

#software-template {
  background: rgb(226, 242, 255);
  display: none;
}

#equipment-template {
  background-color: rgba(255, 235, 205, 0.41);
  display: none;
}

#peripheral-template {
  background-color: rgba(64, 224, 208, 0.16);
  display: none;
}

.adder {
  display: none;
}

.add-success {
  display: none;
}

.get-list {
  display: none;
}

.pick {
  color: green;
  font-weight: bold;
}

.title-font {
  color: #842737;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.price-font {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.info-font {
  text-align: center;
}

.url-font {
  font-size: smaller;
}

.item-comment {
  color: blue;
  opacity: 1;
}

// DivTable.com
.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  border: 0 solid #999999;
  display: table-cell;
  padding: 20px 10px;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

#hj-trans {
  background-image: url('https://s3.amazonaws.com/podtools/hj_t.png');
  width: xxpx;
}

#gb-trans {
  background-image: url('https://s3.amazonaws.com/podtools/gb_t.png');
  width: xxpx;
}

#aud-trans {
  background-image: url('https://s3.amazonaws.com/podtools/aud_t.png');
  width: xxpx;
}

#iz-trans {
  background-image: url('https://s3.amazonaws.com/podtools/iz_t.png');
  width: xxpx;
}

#scriv-trans {
  background-image: url('https://s3.amazonaws.com/podtools/scr_t.png');
  width: xxpx;
}

#mxl-trans {
  background-image: url('https://s3.amazonaws.com/podtools/mxl_t.png');
  width: xxpx;
}

#shure-trans {
  background-image: url('https://s3.amazonaws.com/podtools/sm57_t.png');
  width: xxpx;
}

#mixer-trans {
  background-image: url('https://s3.amazonaws.com/podtools/sm57_t.png');
  width: xxpx;
}

#mdx-trans {
  background-image: url('https://s3.amazonaws.com/podtools/mdx_t.png');
  width: xxpx;
}

#tascam-trans {
  background-image: url('https://s3.amazonaws.com/podtools/tasc_t.png');
  width: xxpx;
}

#stand-trans {
  background-image: url('https://s3.amazonaws.com/podtools/stand_t.png');
  width: xxpx;
}

#filter-trans {
  background-image: url('https://s3.amazonaws.com/podtools/filter_t.png');
  width: xxpx;
}

#ipad-trans {
  background-image: url('https://s3.amazonaws.com/podtools/ipad_t.png');
  width: xxpx;
}

#cables-trans {
  background-image: url('https://s3.amazonaws.com/podtools/cable_t.png');
  width: xxpx;
}
//info modal
.img-logo {
  width: 250px;
}

.img-checkmark {
  width: 75px;
}

.rick-font {
  color: green;
  font-weight: bold;
}

.link-font {
  font-size: 17px;
  font-weight: bold;
}
// wishlist modal

.list-display {
  margin-left: 150px;
}

.listTable {
  table-layout: fixed;
  width: 450px;
}

.listTable td {
  width: 350px;
  word-wrap: break-word;
}

.modal-title {
  margin-left: 50px;
}

.paper {
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.3);
  height: 390;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.paper:before {
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  bottom: 0;
  box-sizing: border-box;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}
//
// .paper-content {
//     position: absolute;
//     top: 30px; right: 0; bottom: 30px; left: 60px;
//     background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
//     background-size: 30px 30px;
// }
//
// .paper-content textarea {
//     width: 100%;
//     max-width: 100%;
//     height: 100%;
//     max-height: 100%;
//     line-height: 30px;
//     padding: 0 10px;
//     border: 0;
//     outline: 0;
//     background: transparent;
//     color: mediumblue;
//     font-family: 'Handlee', cursive;
//     font-weight: bold;
//     font-size: 18px;
//     box-sizing: border-box;
//     z-index: 1;
// }
// iTunes

.show-link {
  font-size: 25px;
}

.ava {
  width: 200px;
}

.modal-wide .modal-dialog {
  width: 55%;
}

.version {
  font-size: 10px;
}
